[Desktop Entry]
Name=SpecialEditionKDE
Comment=Gold-themed Plasma desktop theme for SpecialEditionKDE
X-KDE-PluginInfo-Author=SpecialEditionKDE Team
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=SpecialEditionKDE
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[ContrastEffect]
enabled=false
contrast=0.2
intensity=1.4
saturation=10
